/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 21, 2024, 4:25:11 PM
    Author     : DuyThai
*/
#image-preview img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.post {
    margin-bottom: 20px;
}

.post img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}


